.wrapper{
    width: 280px;

    @media screen and  (min-width: 768px) {
        width: 185px;
    }

    @media screen and  (min-width: 1280px) {
        width: 170px;
    }
}

.select_product{
    box-sizing: border-box;
    width: 280px;
    height: 44px;
    font-size: 12px;
    color: var(--placeholder-text);
    border-radius: 0px 0px 12px 0px; 
    border-top: 1px solid var(--input-border); 
    border-bottom: 2px solid var(--input-border); 
    border-right: 2px solid var(--input-border); 
    border-left: 2px solid var(--input-border);
    
    & fieldset { 
        border: none;
    }

    & div {
        font-size: 12px;
        color: var(--placeholder-text);
        padding: 12px 20px;
    }

    @media screen and  (min-width: 768px) {
        width: 185px;
        border-radius: 0; 
        border-top: 2px solid var(--input-border); 
        border-left: 0;
    }

    @media screen and  (min-width: 1280px) {
        width: 170px;
    }
}