.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 280px;
  padding: 40px 20px;
  background: #ffffff;
  top: 255px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;
}

.google__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;

  &_title {
    text-align: center;
    font-size: 12px;
    line-height: 1.16;
    color: #1612a4;
    margin-bottom: 20px;
  }

  &_btn {
    padding: 10px 19px;
    border-radius: 26px;
    border: none;
    outline: none;
    background: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    &_img {
      margin-right: 10px;
    }
    &_title {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  &_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #52555f;
    margin-bottom: 20px;
  }
}

.form__auth {
  display: flex;
  flex-direction: column;

  &_label {
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 12px;
  }

  &_input {
    max-width: 100%;
    padding: 17px 19px;
    background: #f6f7fb;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-bottom: 32px;

    ::placeholder {
      color: #a6abb9;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.04em;
    }
  }

  .list__button {
    display: flex;
    justify-content: space-around;
    list-style: none;

    &_item:not(:last-child) {
      margin-right: 8px;
    }
  }

  &_login {
    padding: 12px 33px;
    background: #ff751d;
    border-radius: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    border: none;
    outline: none;
  }

  &_register {
    padding: 12px 15px;
    background: #f5f6fb;
    color: #52555f;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    border-radius: 16px;
    border: none;
    outline: none;
  }
}
