.wrapper{
    box-sizing: border-box;
    width: 280px;
    height: 44px;
    border-radius: 12px 12px 0px 0px;
    border-top: 2px solid var(--input-border); 
    border-bottom: 1px solid var(--input-border); 
    border-right: 2px solid var(--input-border); 
    border-left: 2px solid var(--input-border);

    & fieldset { 
        border: none;
    }

    @media screen and  (min-width: 768px) {
        width: 185px;
        border-radius: 12px 0 0 0;
        border-bottom: 2px solid var(--input-border); 
    }

    @media screen and  (min-width: 1280px) {
        width: 290px;
    }
}

.product_description {
    width: 280px;
    justify-content: center;
    color: var(--placeholder-text);
    
    & input {
        box-sizing: border-box;
        height: 44px;

        padding-left: 20px;
        font-size: 12px;
    }

    @media screen and  (min-width: 768px) {
        width: 185px;
    }

    @media screen and  (min-width: 1280px) {
        width: 290px;
    }
}