@import '../../sass/mixin';
.report {
  color: var(--primary-text-color);
  border-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 43px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    margin-right: 37px;
    margin-left: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 50px;
    justify-content: flex-end;
  }
}

.icon {
  height: 18px;
  width: 18px;
  color: var(--primary-text-color);
  margin-left: 20px;
}

.title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    margin-right: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.inputBalance {
  width: 100px;
  border-color: transparent;
  color: var(--black-text-color);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
}

.buttonConfirm {
  color: var(--primary-text-color);
  text-transform: uppercase;
  border-color: transparent;
  @media screen and (min-width: 768px) {
  }
}

.flex {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 473px;
  }
}

.containers {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 104px;
  margin-left: 39px;
  margin-bottom: 100px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    margin-top: 52px;
    margin-left: 70px;
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 96px;
  }
}

.uah {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.mobile {
  display: flex;
  @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.wrapPagination {
  position: relative;
  left: 9px;
  margin: 0 auto;
  margin-bottom: 32px;

  @include mq(tab) {
    left: 0px;
    margin: 0;
    display: flex;
    align-items: center;
  }
}

.goBack {
  position: absolute;
  top: 16px;
  left: 0px;

  @include mq(tab) {
    position: relative;
    top: 0px;
    display: flex;
  }
}