.wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    @media screen and  (min-width: 768px) {
        margin-bottom: 0;
    }
}

.button{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--transaction-btn-text);
    width: 130px;
    height: 44px;
    border: 0;
    border-radius: 16px;
    background-color: var(--transaction-btn-bg);
    box-shadow: 1px 3px 5px var(--btn-transaction-shadow);

    
    &:hover{
        background-color: var(--accent-color);
        box-shadow: 1px 3px 5px var(--btn-transaction-hover-shadow);
        color: var(--white-color);
    }
    
    &:first-child{
        margin-right: 20px;
    }

    @media screen and  (min-width: 768px) {
        &:first-child{
            margin-right: 15px;
        }
    }
}